/*================ General layout styles ================*/
body,
html {
  background-color: $color-body;
}

.page-width {
  @include clearfix();
  max-width: 92%;
  margin: 0 auto;
  
  @include tablet {
    max-width: 90%; 
  }

  @include desktop {
    max-width: 80%;
  }

  @include hi-res {
    max-width: 1440px;
  }
}
