.article-main {
    @extend .page-width;
    display: flex;
    flex-wrap: wrap;

    .breadcrumb-container {
        flex-basis: 100%;
    }
    
    .breadcrumb {
        font-size: 1rem;
        color: $gray-color-dark;
    }
    
    .breadcrumb-item, .breadcrumb-item a {
        color: $gray-color-dark;
    }


    .content {
        flex-basis: 100%;
        padding-bottom: 1rem;

        @include desktop {
            flex-basis: 70%;
        }

        @include hi-res {
            flex-basis: 80%;
        }
    }

    .article-header {
        padding-bottom: 1rem;

        h1 {
            color: $gray-color-dark;
        }

        p {
            color: $gray-color;
            font-size: 0.7rem;
            margin-bottom: 0.33rem;
        }
    }

    .social-nav {
        padding-bottom: 2rem;
    }

    .comments-section {
        .form-success {
            color: $primary-color;
        }
    }

    .comments-list {
        list-style: none;
        margin: 0;

        .comment-content {
            font-size: 0.8rem;
        }

        .author {
            font-size: 0.7rem;
        }
    }

    .sidebar {
        display: flex;
        flex-basis: 100%;
        flex-direction: column;

        @include desktop {
            flex-basis: 30%;
        }

        @include hi-res {
            flex-basis: 20%;
        }
    }

    .sidebar-section {
        color: $gray-color-dark;
        margin: 0.5rem 0;
        padding: 1rem 1.5rem;
        flex-basis: auto;
        background: white;
        @include prefix(box-shadow, 0 3px 12px 0px #d9d9d9, moz webkit ms spec);

        @include desktop {
            margin: 0.5rem 0 0.5rem 1rem;
        }
    }

    .featured-article {
        .title {
            font-size: 0.9rem;
            margin: 0 0 0.2rem 0;
        }

        .timestamp {
            font-size: 0.7rem;
        }
    }


}