.banner-image-xl {
    margin: 2rem 0 0 0;
    background: white;
    color: $gray-color-dark;
    display: grid;

    > img {
        width: 100%;
    }

    .banner-container {
        @extend .page-width;
        padding: 2rem 0;

    }
}