.banner-detail {
    color: $gray-color-dark;
    background: white;

    // Color Schemes: $NAME, $HEADER-COLOR, $DESC-COLOR, $BACKGROUND
    $color-schemes: 'white-primary' $primary-color-dark $gray-color-dark white,
                    'white-secondary' $secondary-color-dark $gray-color-dark white,
                    'primary-white' white white $primary-color,
                    'secondary-white' white white $secondary-color;

    @each $type in $color-schemes {
        &.#{ nth($type, 1) } {
            h1 { color: nth($type, 2); }
            p { color: nth($type, 3); }
            background: nth($type, 4);
        }
    }

    .banner-container {
        @include desktop {
            display: flex;
        }
    }
    

    .banner-content {
        @extend .page-width;
        padding: 1.5rem 0;
        display: flex;
        flex-wrap: wrap;
        flex-basis: 90%;
        align-items: center;

        @include tablet {
            padding: 1.5rem 1.5rem 1.5rem 0;
        }

        @include desktop {
            padding: 1.5rem 1.5rem 1.5rem 10%;
            min-height: 20rem;
            max-width: 100%;
        }

        @include hi-res {
            padding: 1.5rem 0 1.5rem 10%;
            justify-content: flex-end;
        }
    }

    .banner-description {
        flex-basis: 100%;

        @include hi-res {
            max-width: 600px;
        }

        > * {
            @include tablet {
                margin-right: 2rem;
            }
        }

        &.none {
            @include tablet {
                flex-basis: 100%;
            }

            p {
                @include desktop {
                    padding-top: 2rem;
                }
            }
        }
    }

    .banner-image {
        display: flex;
        min-height: 15rem;

        @include tablet {
            min-height: 20rem;
        }

        @include desktop {
            flex-basis: 100%;
            min-height: 25rem;
            
        }
    }

}