.banner-detail {
    color: white;
    background: $primary-color;

    .banner-container {
        @include desktop {
            display: flex;
        }
    }
    

    .banner-content {
        @extend .page-width;
        padding: 1.5rem 0;
        display: flex;
        flex-wrap: wrap;
        flex-basis: 90%;

        @include tablet {
            padding: 1.5rem 1.5rem 1.5rem 0;
        }

        @include desktop {
            padding: 1.5rem 1.5rem 1.5rem 10%;
            min-height: 15rem;
            max-width: 100%;
        }

        @include hi-res {
            padding: 1.5rem 0 1.5rem 10%;
            justify-content: flex-end;
        }
    }

    .banner-description {
        @include tablet {
            flex-basis: 50%;
        }

        @include desktop {
            flex-basis: 100%;
        }

        @include hi-res {
            max-width: 720px;
        }

        &.none {
            @include tablet {
                flex-basis: 100%;
            }

            p {
                @include desktop {
                    padding-top: 2rem;
                }
            }
        }
    }

    .banner-decoration {
        display: flex;
        align-items: center;
        justify-content: flex-end;
        // margin: auto;
        
        @include tablet {
            flex-basis: 50%;
        }

        @include desktop {
            flex-basis: 100%;
        }

        @include hi-res {
            max-width: 720px;
        }

        div {
            display: flex;

            @include desktop {
                position: relative;
                flex-basis: 33%;
            }
        }

        img {
            width: 100%;
            height: 100%;
            margin: auto;

            &.overflow {
                @include desktop {
                    position: absolute;
                    top: 2rem;
                }
            }
            
        }

        &.variation-1 {
            img {
                max-width: 9rem;
            }

            div:nth-child(1) img {
                @include desktop {
                    top: -1rem;
                    left: 0rem;
                    width: 9rem;
                    height: 9rem;
                }
            }

            div:nth-child(2) img {
                @include desktop {
                    top: -1rem;
                    left: 1rem;
                    width: 9rem;
                    height: 9rem;
                }
            }

            div:nth-child(3) img {
                @include desktop {
                    top: 0;
                    left: 4rem;
                    width: 4rem;
                    height: 4rem;
                }
            }
        }

        &.variation-2 {
            img {
                max-width: 9rem;
                @include desktop {
                    top: 0;
                    width: 7rem;
                    height: 7.2rem;
                }
            }
        }

        &.none {
            display: none;
        }

    }

    .banner-image {
        display: flex;
        min-height: 15rem;

        @include tablet {
            min-height: 15rem;
        }

        @include desktop {
            flex-basis: 100%;
            
        }
    }

}