.card-cta {
    padding: 3rem 0 2rem 0;
    
    .content {
        @extend .page-width;
        padding: 2rem 1.5rem;
        color: $gray-color-dark;
        @include prefix(box-shadow, 0 3px 12px 0px #d9d9d9, moz webkit ms spec);
    }

    h3.price {
        color: #B12704;

        strike {
            font-weight: lighter;
            color: $gray-color;
            font-size: 1rem;
        }
    }

    .divider {
        margin: 2rem 0;
    }

    .title a {
        color: $gray-color-dark;
    }

    .product {
        display: flex;
        flex-wrap: wrap-reverse;

        @include tablet {
            flex-wrap: nowrap;
        }

        .info {
            display: block;
            // flex-basis: 100%;
            // flex-wrap: wrap;

            @include tablet {
                flex-basis: 50%;
            }

            * {
                // flex-basis: 100%;
                // width: 85%;
            }

            p {
                @include tablet {
                    // flex-basis: 85%;
                    width: 85%;
                }
            }
        }

        .image {
            flex-basis: 100%;
            text-align: center;

            @include tablet {
                flex-basis: 50%;
            }
        }
    }

}