.features-split {

    // Color Schemes: $NAME, $HEADER-COLOR, $DESC-COLOR, $BACKGROUND, $BUTTON-TYPE
    $color-schemes: 'white-primary' $primary-color-dark $gray-color-dark white '',
                    'white-secondary' $secondary-color-dark $gray-color-dark white '',
                    'primary-white' white white $primary-color 'white-primary',
                    'secondary-white' white white $secondary-color 'white-secondary';

    @each $type in $color-schemes {
        &.#{ nth($type, 1) } {
            h1 { color: nth($type, 2); }
            .feature { color: nth($type, 3); }
            background: nth($type, 4);
        }
    }

    .overlay {
        @extend .page-width;
        padding: 2rem 0;
    
        @include desktop {
            padding: 2rem 0 2rem 0;
        }
    }

    h1 {
        text-align: center;
        color: $gray-color-dark;
        font-weight: bold;
    }

    .content {
        display: flex;
        flex-wrap: wrap;

        @include tablet {
            flex-wrap: nowrap;
        }
    }

    .feature {
        flex-basis: 100%;
        flex-wrap: wrap;
        padding: 1rem 0;
        justify-content: center;
        color: $gray-color-dark;

        @include tablet {
            flex-basis: 50%;

            &:nth-child(1) {
                padding-right: 1rem;
            }

            &:nth-child(2) {
                padding-left: 1rem;
            }
        }

        @include desktop {
            justify-content: unset;

            &:nth-child(1) {
                padding-right: 1.5rem;
            }

            &:nth-child(2) {
                padding-left: 1.5rem;
            }
        }

        @include hi-res {
            &:nth-child(1) {
                padding-right: 2.5rem;
            }

            &:nth-child(2) {
                padding-left: 2.5rem;
            }
        }

        .image, .description {
            display: flex;
            flex-basis: 100%;
            flex-wrap: wrap;
        }

        .image {
            display: block;
            margin: 0 auto 1rem auto;
            text-align: center;
            position: relative;
            
            img {
                max-width: 100%;
                max-height: 100%;
                border-radius: 0.5rem;
            }
        }

        .description {
            padding-bottom: 2rem;
        }
    }

    .action-btn .icon {
        cursor: pointer;
        position: absolute;
        top: 0;
        bottom: 0.25rem;
        left: 0;
        right: 0;
        margin: auto;
        width: 4rem;
        height: 4rem;
        color: $secondary-color;
        background: white;
        border-radius: 100%;
    }

    .btn {
        white-space: normal;
    }

    .modal-content {
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
        align-items: center;
    }
}