.features-large {
    @extend .page-width;
    padding: 5rem 0 3rem 0;


    h1 {
        color: $primary-color;
        font-weight: bold;

        &.purple {
            color: $purple-color;
        }
    
        &.gray {
            color: $gray-color-dark;
        }
    }

    h2 {
        display: flex;
        align-self: center;
        padding-top: 1rem;

        @include tablet {
            padding: 0;
        }
    }

    h2, p {
        color: $gray-color-dark;
    }

    button {
        font-weight: bold;
    }

    .feature {
        display: flex;
        flex-wrap: wrap-reverse;
        padding: 2rem 0;

        @include tablet {
            flex-wrap: nowrap;
        }

        .content {
            display: flex;
            flex-wrap: wrap;
            flex-basis: 100%;
            align-content: flex-start;

            @include tablet {
                flex-basis: 50%;
                padding-right: 1rem;
            }
        }

        .image {
            display: flex;
            flex-basis: 100%;
            position: relative;
            align-items: center;
            justify-content: center;

            &.profile {
                align-items: flex-start;
            }

            @include tablet {
                flex-basis: 50%;
                min-height: 10rem;
            }

            @include desktop {
                min-height: 10rem;
            }

            @include hi-res {
                min-height: 15rem;
            }

            .decoration {
                position: absolute;
                bottom: -2rem;
                max-width: 4rem;
                
                @include tablet {
                    max-width: 7rem;
                }
            }
        }
    }

    .feature:nth-child(2n) {
        .image .decoration {
            bottom: -2rem;
            left: 0;
        }
    }

    .feature:nth-child(3) {
        .image .decoration {
            bottom: -2rem;
            right: 0;
        }
    }
}