.full-size-image {
    @extend .page-width;
    color: $primary-color;
    padding-bottom: 1rem;
    text-align: center;
    
    &.purple {
        color: $purple-color;
    }

    &.gray {
        color: $gray-color-dark;
    }

    h1 {
        padding-top: 2.5rem;
        font-weight: bold;
    }

    img {
        height: auto;
    }
}