.full-size-image {
    @extend .page-width;
    color: $primary-color;
    padding-bottom: 2rem;
    
    &.purple {
        color: $purple-color;
    }

    h1 {
        padding-top: 2.5rem;
        font-weight: bold;
    }

    img {
        width: 100%;
        height: auto;
    }
}