.homepage-hero-main {
    @extend .page-hero-main;

    .announcement-container {
        background: rgba(27, 137, 204, 0.85);
        padding: 0.75rem 0;
    }

    .announcement {
        @extend .page-width;
        text-align: center;

        a {
            color: white;

            * {
                margin: 0;
                display: inline-block;
            }

            img.leading {
                vertical-align: middle;

                @include tablet {
                    margin-right: 1rem;
                }
            }

            img.trailing {
                vertical-align: middle;

                @include tablet {
                    margin-left: 1rem;
                }
            }
        }
    }

    .hero-overlay .hero-content {
        // flex-wrap: wrap; 
        min-height: 30rem;
    }

    div.page-content {
        flex-basis: 100%;
        padding: 0;
        margin: 1rem 0 2rem 0;

        @include tablet {
            flex-basis: 40%;
            margin: 2rem 0;
        }

        *:not(:first-child) {
            margin: 1.75rem 0;
        }

        .desc {
            margin: 1rem 0 2rem 0;
            font-weight: 500;
        }
    }

    div.hero-image {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-basis: 100%;
        padding: 1rem 1rem 0 1rem;

        @include tablet {
            flex-basis: 60%;
            padding: 1rem 0;
        }

        img {
            max-height: 15rem;
            -ms-flex: 1 1 0px;
        }
    }

    div.hero-overlay .hero-content .hero-image img {
        max-height: none;
    }

}