.homepage-hero-main {
    @extend .page-hero-main;

    .announcement-container {
        background: rgba(27, 137, 204, 0.85);
        padding: 0.75rem 0;
    }

    .announcement {
        @extend .page-width;
        text-align: center;

        a {
            color: white;

            * {
                margin: 0;
                display: inline-block;
            }

            img.leading {
                vertical-align: middle;

                @include tablet {
                    margin-right: 1rem;
                }
            }

            img.trailing {
                vertical-align: middle;

                @include tablet {
                    margin-left: 1rem;
                }
            }
        }
    }

    .hero-overlay .hero-content {
        flex-wrap: wrap; 
    }

    div.hero-overlay .hero-content .hero-image img {
        max-height: none;
    }

}