.page-hero-legal {
    @extend .page-hero-main;

    // Slight overselection to override @extend
    div.hero-overlay {
        background: rgba($primary-color, 0.7);
    }

    div.subnav-container {
        background: $primary-color;
    }

    div.hero-content {
        align-items: initial;

        h1 {
            padding-top: 1rem;
        }

        .breadcrumb li {
            margin: 0rem 0 1rem 0;
        }
    }

    div.page-content {
        @include tablet {
            flex-basis: 100%;
        }
    }
}