.page-hero-main {
    overflow: auto;
    color: white;
    position: relative;
    z-index: 1;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;

    .hero-overlay {
        background: rgba(black, 0.5);
        position: relative;
        overflow: auto;
        width: 100%;
        padding: 0;
        margin: 0;
        display: flex;

        &.blue {
            background: rgba($primary-color, 0.65);
        }

        &.purple {
            background: $purple-color-overlay;
        }

        &.white {
            background: $color-offwhite;
        }
    }

    .hero-content {
        @extend .page-width;
        position: relative;
        flex-basis: 100%;
        display: flex;
        flex-wrap: wrap-reverse;
        align-items: center;
        min-height: 30rem;

        @include tablet {
            flex-wrap: nowrap;
        }

        @include hi-res {
            min-height: 45rem;
        }
    }

    .page-content {
        flex-basis: 100%;
        padding: 0;
        margin: 1rem 0 2rem 0;

        @include tablet {
            flex-basis: 50%;
            margin: 2rem 0;
        }

        @include hi-res {
            h1 {
                font-size: 3rem;
            }
        }

        *:not(:first-child) {
            margin: 1.75rem 0;
        }

        .desc {
            margin: 1rem 0 2rem 0;
            font-weight: 500;
        }
    }

    .hero-image {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-basis: 100%;
        padding: 1rem 1rem 0 1rem;

        @include tablet {
            flex-basis: 50%;
            padding: 1rem 0;
        }

        img {
            max-height: 15rem;
            -ms-flex: 1 1 0px;
        }
    }

    h1 {
        font-weight: bold;
    }
    
    .price {
        font-weight: lighter;
        
        span:first-child {
            font-size: 1.3rem;
        }

        span:last-child {
            font-size: 1.6rem;
        }
    }

    .chip {
        background: transparent;
        padding: 0.5rem 1rem 0.6rem 1rem;
        border: solid 1px white;
        color: white;
    }

    .subnav-container {
        background: $purple-color;
    }


    .page-hero-nav {
        @extend .page-width;
        display: flex;
        flex-direction: row;
        justify-content: center;
        flex-wrap: wrap;
        padding-bottom: 0.3rem;

        @include tablet {
            justify-content: center;
        }

        .link {
            font-size: 0.8rem;
            font-weight: lighter;
            display: flex;
            color: white;
            padding: 0.5rem 0.8rem;

            @include tablet {
                padding: 0.5rem 2.4rem 0.5rem 0;
            }
            
        }
    }

    .cta {
        text-align: center;

        @include tablet {
            text-align: left;
        }
    }

}