.paragraph-content {
    padding: 2rem 0;

    .content {
        @extend .page-width;
    }

    h4 {
        font-weight: lighter;
    }

    &.center {
        .content h1 {
            text-align: center;
        }
    }

    &.narrow {
        .content h4, .content p {
            @include tablet {
                max-width: 75%;
                margin: auto;
            }

            @include desktop {
                max-width: 50%;
                margin: auto;
            }
        }
    }
}