.paragraph-content {
    padding: 2rem 0;

    .content {
        @extend .page-width;
    }

    h4 {
        font-weight: lighter;
    }

    &.center {
        .content > * {
            text-align: center;
        }
    }

    &.narrow {
        .content h4, .content p {
            @include tablet {
                max-width: 70%;
                margin: auto;
            }

            @include hi-res {
                max-width: 50%;
            }

        }
    }
}