.product-hero-main {
    overflow: auto;
    color: white;
    position: relative;
    z-index: 1;

    .hero-overlay {
        background: rgba($primary-color, 0.75);
        position: relative;
        overflow: auto;
        width: 100%;
        padding: 0;
        margin: 0;
    }

    .hero-content {
        @extend .page-width;
        position: relative;
        display: flex;
        flex-wrap: wrap;
    }

    .breadcrumb {
        flex-basis: 100%;
    }

    .product-content {
        display: flex;
        flex-basis: 100%;
        flex-wrap: wrap;

        .info {
            flex-basis: 100%;
            padding: 0;
            margin-top: 0;
    
            @include tablet {
                flex-basis: 50%;
            }
    
            *:not(:first-child) {
                margin-bottom: 0.75rem;
            }
        }
        
        .image-main {
            flex-basis: 100%;
            display: flex;
            align-items: center;
            justify-content: center;
            overflow: auto;

            @include tablet {
                flex-basis: 50%;
            }

            .image {
                position: relative;
                text-align: center;
                overflow: hidden;
            }

            img {
                max-width: 100%;
                max-height: 20rem;
                
                @include tablet {
                    max-width: 85%;
                }

                @include desktop {
                    max-width: 100%;
                }
            }
        }
    }

    h1 {
        font-weight: bold;
    }
    
    .price {
        font-weight: lighter;
        
        span:first-child {
            font-size: 1.3rem;
        }

        span:last-child {
            font-size: 1.6rem;
        }
    }

    .chip {
        background: transparent;
        padding: 0.5rem 1rem 0.6rem 1rem;
        border: solid 1px white;
        color: white;
    }


    

}