.product-hero-main {
    overflow: auto;
    color: white;
    position: relative;
    z-index: 1;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;

    @include tablet {
        color: $gray-color-dark;

        .breadcrumb {
            .breadcrumb-item, li, li a {
                color: $gray-color-dark;
            }
        }
            
        .info .chip {
            border-color: $secondary-color;
            color: $secondary-color;
        }
    }

    &.angled-bg {
        .hero-overlay:before {
            content: '';
            position: absolute;
            background: $primary-color;
            z-index: 0;
            top: -10rem;
            width: 100%;
            height: 28rem;
            transform: skewY(14deg);

            @include tablet {
                transform: skewY(0deg);
                transform: skewX(-14deg);
                left: 45vw;
                top: 0;
                height: 100rem;
            }
        }

        .hero-overlay {
            background: white;
            overflow: hidden;
        }
    }


    .hero-overlay {
        background: rgba($primary-color, 0.75);
        position: relative;
        overflow: auto;
        width: 100%;
        padding: 0;
        margin: 0;
    }

    .hero-content {
        @extend .page-width;
        position: relative;
        display: flex;
        flex-wrap: wrap;
        min-height: 21rem;
        align-content: flex-start;
    }

    .breadcrumb {
        flex-basis: 100%;
        // li, li a {
        //     color: white;
        // }
    }

    .product-content {
        display: flex;
        flex-basis: 100%;
        flex-wrap: wrap;

        .info {
            flex-basis: 100%;
            padding: 0;
            margin-top: 0;

            .image-main {
                display: flex;
            }

            p {
                color: $gray-color-dark;
            }
    
            @include tablet {
                flex-basis: 50%;

                .image-main {
                    display: none;
                }
            }
    
            *:not(:first-child) {
                margin-bottom: 0.75rem;
            }
        }
        
        .image-main {
            flex-basis: 100%;
            display: none;
            align-items: center;
            justify-content: center;
            overflow: auto;

            @include tablet {
                flex-basis: 50%;
                display: flex;
            }

            .image {
                position: relative;
                text-align: center;
                overflow: hidden;
            }

            img {
                max-width: 100%;
                max-height: 20rem;
                
                @include tablet {
                    max-width: 85%;
                }

                @include desktop {
                    max-width: 100%;
                }
            }
        }
    }

    .info a.product-link {
        color: white;

        @include tablet {
            color: $gray-color-dark;

            &:focus,
            &:hover,
            &:active,
            &.active {
                color: $primary-color-dark;
                text-decoration: none;
                transition: color 0.2s ease;
            }
        }

    }

    h1 {
        font-weight: bold;
    }
    
    .price {
        font-weight: lighter;
        
        span:first-child {
            font-size: 1.3rem;
        }

        span:last-child {
            font-size: 1.6rem;
            font-weight: bold;
            color: $price-color;
        }
    }

    .chip {
        background: transparent;
        padding: 0.5rem 1rem 0.6rem 1rem;
        border: solid 1px white;
        color: white;
    }


    

}