.product-info {
    @extend .page-width;
    padding: 3rem 0;

    h3 {
        color: $gray-color-dark;
    }

    .item-list {
        display: flex;
        flex-wrap: wrap;
        margin: 0;

        li {
            flex-basis: 100%;
            font-size: 0.8rem;
            color: $gray-color-dark;

            @include tablet {
                flex-basis: 33%;
            }
        }
    }

}