.related-products {
    padding: 2rem 0;
    color: $gray-color-dark;

    .content {
        @extend .page-width;
        display: flex;
        flex-wrap: wrap;
    }

    h2 {
        flex-basis: 100%;
    }

    .card {
        flex-basis: 100%;
        border: none;
        padding: 1rem 0.25rem;

        @include tablet {
            flex-basis: 50%;
            -ms-flex-preferred-size: 48%;

            &:nth-child(odd) {
                padding: 1rem 0 1rem 0.5rem;
            }

            &:nth-child(even) {
                padding: 1rem 0.5rem 1rem 0;
            }
        }

        @include desktop {
            flex-basis: 33%;
            -ms-flex-preferred-size: 31%;

            &:nth-child(odd), &:nth-child(even) {
                padding: 1rem 0.5rem;
            }

            &:nth-child(3n-2) {
                padding: 1rem 0 1rem 0.5rem;
            }

            &:nth-child(3n-1) {
                padding: 1rem 0.5rem 1rem 0;
            }
        }
    }

    .card-content {
        display: flex;
        flex-direction: column;
        position: relative;
        min-height: 26rem;
        padding: 0.75rem;
        @include prefix(box-shadow, 0 3px 12px 0px #d9d9d9, moz webkit ms spec);

        a {
            color: $gray-color-dark;
        }
    }


    .image {
        width: 10rem;
        height: 12rem;
        margin: 0 auto;
        position: relative;
        padding-bottom: 1rem;

        img {
            position: absolute;
            top: 0;
            margin: auto;
            bottom: 0;
        }
    }

    h6 {
        color: $gray-color-light;
    }

    .desc {
        font-size: 0.7rem;
    }

    .view-link {
        width: 50%;
        position: absolute;
        bottom: 1rem;
        left: 25%;

        button {
            width: 100%;
        }
    }

    
}