.social-feed {
    .overlay {
        background: rgba($primary-color, 0.8);
    }

    .content {
        @extend .page-width;
        color: white;
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;
        padding: 2rem 0;

        h1, h4 {
            font-weight: lighter;
            flex-basis: 100%;
            text-align: center;
        } 
    }

    .carousel-container {
        @extend .page-width;
    }

   

}