.subheader {
    @extend .page-width;
    padding: 2rem 0 0 0;
    text-align: center;

    h1 {
        color: $gray-color-dark;
        font-weight: bold;
        margin: 0;
    }
    
    &.divide {
        &:after {
            background: lighten($gray-color-light, 30%);
            content: "";
            height: 2px;
            width: 60%;
            margin: 2rem auto 0 auto;
        }
    }

    $subheader-colors:  'primary' $primary-color,
                        'secondary' $secondary-color;
                        
    @each $type in $subheader-colors {
        &.#{ nth($type, 1) } {
            h1{
                color: nth($type, 2)
            }
        }
    }

    
}