// Breadcrumbs
.breadcrumb {
  list-style: none;
  margin: $unit-1 0;
  padding: $unit-1 0;

  .breadcrumb-item {
    color: darken(white, 15%);
    display: inline-block;
    margin: 0;
    padding: $unit-1 0;

    a {
      color: white;
      text-decoration: none;
      font-size: 0.65rem;

      @include tablet {
        font-size: 0.8rem;
      }

      &:hover, &:active {
        text-decoration: underline;
      }
    }

    &:not(:last-child) {
      margin-right: $unit-1;
    }

    &:not(:first-child) {
      &::before {
        content: "/";
        padding-right: $unit-2;
      }
    }

    &:last-child {
      a {
        font-weight: bold;
      }
    }

  }
}
