// Off canvas menus
$off-canvas-breakpoint: $size-lg !default;
$sidebar-width: 13rem;
$sidebar-width-tablet: 15rem;

.off-canvas {
  display: flex;
  flex-flow: row-reverse;
  height: 100%;
  position: relative;
  width: 100%;
  align-items: center;

  &.show-xl {
    @media screen and (max-width: $desktop-width){
      display: flex !important;
    }
  }

  .off-canvas-toggle {
    display: flex;
    height: 100%;
    align-items: center;
    position: relative;
    transition: none;
    z-index: $zindex-0;
    float: right;
    font-size: 1.2rem;

    @include tablet {
      font-size: 1.2rem;
    }

    &:focus {
      outline: none;
    }
  }

  .off-canvas-sidebar {
    background: white;
    bottom: 0;
    left: 0;
    min-width: $sidebar-width;
    overflow-y: auto;
    position: fixed;
    top: 60px;
    // transform: translateX(100vw) translateX(50rem);
    @include prefix(transform, translateX(50rem), moz ms webkit spec);
    transition: transform .25s ease;
    z-index: $zindex-3;

    @include tablet {
      top: 70px;
      min-width: $sidebar-width-tablet;
    }
  }

  .off-canvas-content {
    flex: 1 1 auto;
    height: 100%;
    padding: $layout-spacing $layout-spacing $layout-spacing 4rem;
  }

  .off-canvas-overlay {
    background: rgba($dark-color, .1);
    border-color: transparent;
    border-radius: 0;
    bottom: 0;
    display: none;
    height: 100%;
    left: 0;
    position: fixed;
    right: 0;
    top: 60px;
    width: 100%;

    @include tablet {
      top: 70px;
    }
  }

  .off-canvas-sidebar {
    &:target,
    &.active {
      @include prefix(transform, translateX(100vw) translateX(-#{$sidebar-width}), moz ms webkit spec);

      @include tablet {
        @include prefix(transform, translateX(100vw) translateX(-#{$sidebar-width-tablet}), moz ms webkit spec);
      }
    }

    &:target ~ .off-canvas-overlay,
    &.active ~ .off-canvas-overlay {
      display: block;
      z-index: $zindex-2;
    }
  }

  .shadow-line {
    width: 100%;
    height: 1px;
    background: transparent;
    box-shadow: 0 -5px 10px 3px black;
    margin-top:  -1px;
  }

  .nav {
    text-align: right;
    font-size: 1rem;
    padding: 0.5rem 5vw;

    .nav-item a {
      padding: 0;
    }

    .btn-nav {
      width: 100%;
      margin-top: 0.5rem;
    }

  }

  .hamburger {
    padding: 5px 0 5px 0;
    display: inline-block;
    cursor: pointer;
    transition-property: opacity, filter;
    transition-duration: 0.15s;
    transition-timing-function: linear;
    font: inherit;
    color: inherit;
    text-transform: none;
    background-color: transparent;
    border: 0;
    margin: 0;
    overflow: visible; 
    outline: none;
  }
  .hamburger:hover {
    opacity: 0.7; 
  }
  
  .hamburger-box {
    width: 33px;
    height: 22px;
    display: inline-block;
    position: relative; 
  }
  
  .hamburger-inner {
    display: block;
    top: 50%;
    margin-top: -2px;
  }

  .hamburger-inner, .hamburger-inner::before, .hamburger-inner::after {
    width: 33px;
    height: 3.5px;
    background-color: $gray-color-dark;
    border-radius: 0;
    position: absolute;
    transition-property: transform;
    transition-duration: 0.15s;
    transition-timing-function: ease; 
  }

  .hamburger-inner::before, .hamburger-inner::after {
    content: "";
    display: block; 
  }

  .hamburger-inner::before {
    top: -10px; 
  }

  .hamburger-inner::after {
    bottom: -10px; 
  }

  .hamburger--spin .hamburger-inner {
    transition-duration: 0.22s;
    transition-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19);
  }

  .hamburger--spin .hamburger-inner::before {
    transition: top 0.1s 0.25s ease-in, opacity 0.1s ease-in;
  }

  .hamburger--spin .hamburger-inner::after {
    transition: bottom 0.1s 0.25s ease-in, transform 0.22s cubic-bezier(0.55, 0.055, 0.675, 0.19);
  }

  .hamburger--spin.is-active .hamburger-inner {
    transform: rotate(225deg);
    transition-delay: 0.12s;
    transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
  }

  .hamburger--spin.is-active .hamburger-inner::before {
    top: 0;
    opacity: 0;
    transition: top 0.1s ease-out, opacity 0.1s 0.12s ease-out; 
  }

  .hamburger--spin.is-active .hamburger-inner::after {
    bottom: 0;
    transform: rotate(-90deg);
    transition: bottom 0.1s ease-out, transform 0.22s 0.12s cubic-bezier(0.215, 0.61, 0.355, 1); 
  }
  
}



// Responsive layout
@media (min-width: $off-canvas-breakpoint) {
  .off-canvas {
    &.off-canvas-sidebar-show {
      .off-canvas-toggle {
        display: none;
      }
  
      .off-canvas-sidebar {
        flex: 0 0 auto;
        position: relative;
        transform: none;
      }
    }
  }
}
