<div class="banner-decoration">
    <div class="content">
        {% if block.settings.banner-decoration-img %}
            <img src="{{ block.settings.banner-decoration-img | img_url: '300x' }}" alt="">
        {% endif %}
    </div>

</div>