<div class="edu-badge-bar" data-section-id="{{ section.id }}">
    <div class="content">
        <div class="logo">
            <img src="{{ 'demo-common-core-logo.png' | asset_url }}"/>
        </div>
    
        <div class="logo">
            <img src="{{ 'demo-ngss-logo.png' | asset_url }}"/>
        </div>
    </div>
</div>