<div class="full-size-image {{ block.settings.full-size-image-color-variant }}" id="section-{{ block.settings.full-size-image-anchor }}">
    {% if block.settings.full-size-image-title %}
        <h1>{{ block.settings.full-size-image-title }}</h1>
    {% endif %}

    <img src="{{ block.settings.full-size-image-img | img_url: '900x', format: 'pjpg' }}" alt="">
</div>