<div class="social-feed" style="background: center no-repeat url({{ block.settings.social-feed-bg | img_url: '900x' }}); background-size: cover;">
    <div class="overlay">
        <div class="content">
            <h1>{{ block.settings.social-feed-title }}</h1>
            <h4>{{ block.settings.social-feed-subtitle }}</h4>

            <div class="carousel-container">
                
            </div>
            

        </div>
    </div>
</div>