<div class="storefront-nav">
    <div class="subnav-container">
        <div class="page-nav">
                <a href="{{ block.settings.storefront-nav-link-1 }}" class="link">
                    {% include 'icon-kits' %} Kits
                </a>

                <a href="{{ block.settings.storefront-nav-link-2 }}" class="link">
                    {% include 'icon-parts' %} Parts
                </a>

                <a href="{{ block.settings.storefront-nav-link-3 }}" class="link">
                    {% include 'icon-merch' %} Merch
                </a>

                <a href="{{ block.settings.storefront-nav-link-4 }}" class="link">
                    {% include 'icon-misc' %} All
                </a>
        </div>
    </div>
</div>