<div class=
    "subheader {{block.settings.subheader-color | prepend: ' '}}
    
    {%- if block.settings.subheader-divider -%}
     divide
    {%- endif -%}
    "
>
    <h1>{{ block.settings.subheader-content }}</h1>
</div>