<div class="video-section {{ block.settings.video-color }}">
    <div class="content">
        <h1>{{ block.settings.video-title }}</h1>
        <div class="video-responsive" >
            {{ block.settings.video-embed-code }}
        </div>
        <p>{{ block.settings.video-desc }}</p>
    </div>
    
</div>