<div class="banner-testimonial" data-section-id="{{ section.id }}">
    <div class="content">
         <div class="profile">
            <img src="{{ 'demo-profile-1.jpg' | asset_url}}" alt="">
         </div>

         <div class="quote">
            
            <span><img src="{{ 'demo-quote.png' | asset_url }}" alt=""></span>
            <p>My six-year old son loved putting it together. It is absolutely hands-on! My six-year old son loved putting it together. It is absolutely hands-on! </p>
            <span><img src="{{ 'demo-quote.png' | asset_url }}" alt=""></span>
            
         </div>
    </div>
     
</div>