<div data-section-id="{{ section.id }}">
  {% for block in section.blocks %}
  <div {{ block.shopify_attributes }}>
    {% case block.type %}

      {% when 'page-hero-main' %}
      {% include 'page-hero-main' %}

      {% when 'edu-badge-bar' %}
      {% include 'edu-badge-bar' %}

      {% when 'banner-contact-us' %}
      {% include 'banner-contact-us' %}

      {% when 'quote-tool' %}
      {% include 'quote-tool' %}


    {% endcase %}
  </div>
  {% endfor %}
</div>

{% schema %}
{
  "blocks": [
    {
      "type": "page-hero-main",
      "name": "Main Page Hero",
      "settings": [
        {
          "id": "page-nav-links",
          "type": "textarea",
          "label": "Nav Links (Sections)",
          "placeholder": "How it Works, Features, What's in the Box"
        },
        {
          "id": "page-hero-title",
          "type": "textarea",
          "label": "Page Hero Title",
          "placeholder": "The best way to learn programming & engineering"
        },
        {
          "id": "page-hero-description",
          "type": "textarea",
          "label": "Page Hero Description",
          "placeholder": "Lorem ipsum dolor sit amet.."
        }
      ]
    },
    {
      "type": "edu-badge-bar",
      "name": "EDU Badge Bar"
    },
    {
      "type": "banner-contact-us",
      "name": "Contact Us Banner",
      "settings": [
        {
          "id": "banner-contact-us-title",
          "label": "Title",
          "type": "text",
          "default": "Questions? Contact Us"
        },
        {
          "id": "banner-contact-us-email",
          "label": "Email",
          "type": "text",
          "default": "educators@buildpiper.com"
        },
        {
          "id": "banner-contact-us-phone",
          "label": "Phone Number",
          "type": "text",
          "default": "(888) 767-1941"
        },
        {
          "id": "banner-contact-us-img",
          "label": "Image",
          "type": "image_picker"
        },
        {
          "id": "banner-contact-us-color",
          "label": "Header Color",
          "type": "select",
          "default": "",
          "options": [
            {
              "value": "",
              "label": "Blue"
            },
            {
              "value": "purple",
              "label": "Purple"
            }
          ]
        }
      ]
    },
    {
      "type": "quote-tool",
      "name": "Quote Tool",
      "settings": [
        {
          "id": "title",
          "label": "Title",
          "type": "text",
          "default": "Quote Calculator"
        }
      ]
    }
  ]
}
{% endschema %}