<div class="features-small" data-section-id="{{ section.id }}">
    <h1>How It Works</h1>
    <div class="content">

        <div class="feature">
            <div class="image">
                <img src="{{ 'demo-step-1.jpg' | asset_url }}" />
            </div>
            <div class="description">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad </div>  
        </div>

        <div class="feature">
            <div class="image">
                <img src="{{ 'demo-step-2.jpg' | asset_url }}" />
            </div>
            <div class="description">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad </div>
        </div>

        <div class="feature">
            <div class="image">
                <img src="{{ 'demo-step-3.jpg' | asset_url }}" />
            </div>
            <div class="description">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad </div>
        </div>

    </div>
</div>
