<div class="footer">
    <div class="content">
        <!-- Logo, links -->
        <div class="sitemap">
            <!-- brand -->
            <div class="brand">
                <img src="{{ 'piper-logo-wires.svg' | asset_url }}" alt="Piper Wires Logo">
                <h5>Kids can build anything.<br>We can help teach them that.</h5>
            </div>

            <!-- nav links -->
            <div class="links">
                <div class="group">
                    <p>Company</p>
                    <div class="link">
                        <a href="#">How it Works</a>
                    </div>
                    <div class="link">
                        <a href="#">Our Story</a>
                    </div>
                    <div class="link">
                        <a href="#">Careers</a>
                    </div>
                    <div class="link">
                        <a href="#">Press Kit</a>
                    </div>
                    <div class="link">
                        <a href="#">Blog</a>
                    </div>
                </div>
                <div class="group">
                    <p>Support</p>
                    <div class="link">
                        <a href="#">How it Works</a>
                    </div>
                    <div class="link">
                        <a href="#">Our Story</a>
                    </div>
                    <div class="link">
                        <a href="#">Careers</a>
                    </div>
                    <div class="link">
                        <a href="#">Press Kit</a>
                    </div>
                    <div class="link">
                        <a href="#">Blog</a>
                    </div>
                </div>
                <div class="group">
                    <p>Shop</p>
                    <div class="link">
                        <a href="#">How it Works</a>
                    </div>
                    <div class="link">
                        <a href="#">Our Story</a>
                    </div>
                    <div class="link">
                        <a href="#">Careers</a>
                    </div>
                    <div class="link">
                        <a href="#">Press Kit</a>
                    </div>
                    <div class="link">
                        <a href="#">Blog</a>
                    </div>
                </div>
                <div class="group">
                    <p>Educators</p>
                   <div class="link">
                        <a href="#">How it Works</a>
                    </div>
                    <div class="link">
                        <a href="#">Our Story</a>
                    </div>
                    <div class="link">
                        <a href="#">Careers</a>
                    </div>
                    <div class="link">
                        <a href="#">Press Kit</a>
                    </div>
                    <div class="link">
                        <a href="#">Blog</a>
                    </div>
                </div>
            </div>

        </div>

        <!-- Social Links/Email Entry -->
        <div class="social">
            <div class="social-content">
                <h5>Win a Piper Computer Kit!</h5>
                <div class="input-group">
                    <input type="text" class="form-input input" placeholder="email">
                    <button class="btn orange input-group-btn">Submit</button>
                </div>

                <div class="links">
                    <a href="#">
                        {% include 'icon-facebook' %}
                    </a>
                    <a href="#">
                        {% include 'icon-twitter' %}
                    </a>
                    <a href="#">
                        {% include 'icon-instagram' %}
                    </a>
                    <a href="#">
                        {% include 'icon-youtube' %}
                    </a>
                </div>

            </div>
        </div>
    </div>

    

    <!-- Copyright, disclaimer -->
    <div class="notes">
        <div class="divider"></div>
        <p>Copyright Piper 2018</p>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
    </div>
</div>