<div data-section-id="{{ section.id }}">
    {% for block in section.blocks %}
        <div {{ block.shopify_attributes }}>
            {% case block.type %}

              {% when 'legal-hero' %}
              {% include 'legal-hero' %}

              {% when 'page-content-container' %}
              {% include 'page-content-container' %}


          {% endcase %}
        </div>
    {% endfor %}
</div>

{% schema %}
  {
    "blocks": [
      
      {
        "type": "legal-hero",
        "name": "Legal Page Hero",
        "settings": [
          {
            "id": "legal-nav-links",
            "type": "textarea",
            "label": "Nav Links (Sections)",
            "placeholder": "How it Works, Features, What's in the Box"
          }
        ]
      },
      {
        "type": "page-content-container",
        "name": "Page Content",
        "settings": [

        ]
      }
    ]
  }
{% endschema %}