<div data-section-id="{{ section.id }}">
  {% for block in section.blocks %}
  <div {{ block.shopify_attributes }}>
    {% case block.type %}

      {% when 'product-hero-main' %}
      {% include 'product-hero-main' %}

      {% when 'awards-bar' %}
      {% include 'awards-bar' %}

      {% when 'banner-detail' %}
      {% include 'banner-detail' %}

      {% when 'features-small' %}
      {% include 'features-small' %}

      {% when 'video-section' %}
      {% include 'video-section' %}

      {% when 'banner-testimonial' %}
      {% include 'banner-testimonial' %}

      {% when 'features-large' %}
      {% include 'features-large' %}

    {% endcase %}
  </div>
  {% endfor %}
</div>

{% schema %}
  {
    "blocks": [
      {
        "type": "product-hero-main",
        "name": "Main Product Hero",
        "settings": [
          {
            "id": "banner_image",
            "type": "image_picker",
            "label": "Hero Image"
          }
        ]
      },
      {
          "type": "awards-bar",
          "name": "Awards Bar"
      },
      {
        "type": "banner-detail",
        "name": "Detail Banner",
        "settings": [
          {
            "id": "variation",
            "type": "select",
            "label": "Decorations",
            "options": [
                {
                    "value": "variation-1",
                    "label": "Pieces"
                },
                {
                    "value": "variation-2",
                    "label": "Breadboard"
                },
                {
                    "value": "",
                    "label": "None"
                }
            ]

          },
          {
            "id": "banner_title",
            "type": "text",
            "label": "Title"
          },
          {
            "id": "banner_detail",
            "type": "textarea",
            "label": "Detail"
          },
          {
            "id": "banner_image",
            "type": "image_picker",
            "label": "Banner Image"
          },
          {
            "id": "overflow",
            "type": "radio",
            "label": "Decoration Overflow",
            "options": [
                { "value": "", "label": "Contain" },
                { "value": "overflow", "label": "Down" }
            ]

          }
        ]
      },
      {
        "type": "features-small",
        "name": "Small Features Bar",
        "settings": [
          {
            "id": "features_small_title",
            "type": "text",
            "label": "Title",
            "default": "How It Works"
          },
          {
            "id": "features_small_img_1",
            "type": "image_picker",
            "label": "Feature 1 Image"
          },
          {
            "id": "features_small_desc_1",
            "type": "textarea",
            "label": "Feature Description 1",
            "default": "Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad"
          },
          {
            "id": "features_small_img_2",
            "type": "image_picker",
            "label": "Feature 2 Image"
          },
          {
            "id": "features_small_desc_2",
            "type": "textarea",
            "label": "Feature Description 2",
            "default": "Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad"
          },
          {
            "id": "features_small_img_3",
            "type": "image_picker",
            "label": "Feature 2 Image"
          },
          {
            "id": "features_small_desc_3",
            "type": "textarea",
            "label": "Feature Description 3",
            "default": "Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad"
          }
        ]
      },
      {
        "type": "video-section",
        "name": "Video Section",
        "settings": [
          {
            "id": "video_title",
            "type": "textarea",
            "label": "Title",
            "default": "Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et"
          },
          {
            "id": "video_url",
            "type": "url",
            "label": "Video URL"
          },
          {
            "id": "video_desc",
            "type": "textarea",
            "label": "Video Description",
            "default": "Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et"
          }
          
        ]
      },
      {
        "type": "banner-testimonial",
        "name": "Testimonial Banner",
        "settings": [
          {
            "id": "profile_img",
            "type": "image_picker",
            "label": "Profile"
          },
          {
            "id": "testimonial",
            "type": "textarea",
            "label": "Testimonial"
          },
          {
            "id": "color",
            "type": "radio",
            "label": "Color",
            "options": [
                { "value": "", "label": "Orange" },
                { "value": "blue", "label": "Blue" }
            ]
          }
        ]
      },
      {
        "type": "features-large",
        "name": "Large Features Section",
        "settings": [
          {
            "id": "features_large_title",
            "type": "text",
            "label": "Title",
            "default": "How It Works"
          },
          {
            "id": "features_large_img_1",
            "type": "image_picker",
            "label": "Feature 1 Image"
          },
          {
            "id": "features_large_decoration_1",
            "type": "image_picker",
            "label": "Feature 1 Decoration"
          },
          {
            "id": "features_large_desc_1",
            "type": "textarea",
            "label": "Feature Description 1",
            "default": "Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad"
          },
          {
            "id": "features_large_img_2",
            "type": "image_picker",
            "label": "Feature 2 Image"
          },
          {
            "id": "features_large_decoration_2",
            "type": "image_picker",
            "label": "Feature 2 Decoration"
          },
          {
            "id": "features_large_desc_2",
            "type": "textarea",
            "label": "Feature Description 2",
            "default": "Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad"
          },
          {
            "id": "features_large_img_3",
            "type": "image_picker",
            "label": "Feature 2 Image"
          },
          {
            "id": "features_large_decoration_3",
            "type": "image_picker",
            "label": "Feature 3 Decoration"
          },
          {
            "id": "features_large_desc_3",
            "type": "textarea",
            "label": "Feature Description 3",
            "default": "Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad"
          }
        ]
      }
    ]
  }
{% endschema %}