<div data-section-id="{{ section.id }}">
  {% for block in section.blocks %}
  <div {{ block.shopify_attributes }}>
    {% case block.type %}

      {% when 'product-hero-main' %}
      {% include 'product-hero-main' %}

      {% when 'awards-bar' %}
      {% include 'awards-bar' %}

      {% when 'banner-detail' %}
      {% include 'banner-detail' %}

      {% when 'features-small' %}
      {% include 'features-small' %}

      {% when 'video-section' %}
      {% include 'video-section' %}

      {% when 'banner-testimonial' %}
      {% include 'banner-testimonial' %}

      {% when 'features-large' %}
      {% include 'features-large' %}

      {% when 'product-info' %}
      {% include 'product-info' %}

      {% when 'full-size-image' %}
      {% include 'full-size-image' %}

      {% when 'card-cta' %}
      {% include 'card-cta' %}

    {% endcase %}
  </div>
  {% endfor %}
</div>

{% schema %}
  {
    "blocks": [
      {
        "type": "product-hero-main",
        "name": "Main Product Hero",
        "settings": [
          {
            "id": "hero-nav-links",
            "type": "textarea",
            "label": "Nav Links (Sections)",
            "placeholder": "How it Works, Features, What's in the Box"
          }
        ]
      },
      {
          "type": "awards-bar",
          "name": "Awards Bar"
      },
      {
        "type": "banner-detail",
        "name": "Detail Banner",
        "settings": [
          {
            "id": "variation",
            "type": "select",
            "label": "Decorations",
            "options": [
                {
                    "value": "variation-1",
                    "label": "Pieces"
                },
                {
                    "value": "variation-2",
                    "label": "Breadboard"
                },
                {
                    "value": "",
                    "label": "None"
                }
            ]

          },
          {
            "id": "banner_title",
            "type": "text",
            "label": "Title"
          },
          {
            "id": "banner_detail",
            "type": "textarea",
            "label": "Detail"
          },
          {
            "id": "banner_image",
            "type": "image_picker",
            "label": "Banner Image"
          },
          {
            "id": "overflow",
            "type": "radio",
            "label": "Decoration Overflow",
            "options": [
                { "value": "", "label": "Contain" },
                { "value": "overflow", "label": "Down" }
            ]

          }
        ]
      },
      {
        "type": "features-small",
        "name": "Small Features Bar",
        "settings": [
          {
            "id": "features-small-anchor",
            "type": "text",
            "label": "Anchor (for hero nav links)"
          },
          {
            "id": "features-small-title",
            "type": "text",
            "label": "Title",
            "default": "How It Works"
          },
          {
            "id": "features-small-img-1",
            "type": "image_picker",
            "label": "Feature 1 Image"
          },
          {
            "id": "features-small-desc-1",
            "type": "textarea",
            "label": "Feature Description 1",
            "default": "Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad"
          },
          {
            "id": "features-small-img-2",
            "type": "image_picker",
            "label": "Feature 2 Image"
          },
          {
            "id": "features-small-desc-2",
            "type": "textarea",
            "label": "Feature Description 2",
            "default": "Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad"
          },
          {
            "id": "features-small-img-3",
            "type": "image_picker",
            "label": "Feature 2 Image"
          },
          {
            "id": "features-small-desc-3",
            "type": "textarea",
            "label": "Feature Description 3",
            "default": "Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad"
          }
        ]
      },
      {
        "type": "video-section",
        "name": "Video Section",
        "settings": [
          {
            "id": "video_title",
            "type": "textarea",
            "label": "Title",
            "default": "Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et"
          },
          {
            "id": "video_url",
            "type": "url",
            "label": "Video URL"
          },
          {
            "id": "video_desc",
            "type": "textarea",
            "label": "Video Description",
            "default": "Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et"
          }
          
        ]
      },
      {
        "type": "banner-testimonial",
        "name": "Testimonial Banner",
        "settings": [
          {
            "id": "profile_img",
            "type": "image_picker",
            "label": "Profile"
          },
          {
            "id": "testimonial",
            "type": "textarea",
            "label": "Testimonial"
          },
          {
            "id": "color",
            "type": "radio",
            "label": "Color",
            "options": [
                { "value": "", "label": "Orange" },
                { "value": "blue", "label": "Blue" }
            ]
          }
        ]
      },
      {
        "type": "features-large",
        "name": "Large Features Section",
        "settings": [
          {
            "id": "features-large-anchor",
            "type": "text",
            "label": "Anchor (for hero nav links)"
          },
          {
            "id": "features_large_title",
            "type": "text",
            "label": "Title",
            "default": "How It Works"
          },
          {
            "id": "features_large_img_1",
            "type": "image_picker",
            "label": "Feature 1 Image"
          },
          {
            "id": "features_large_decoration_1",
            "type": "image_picker",
            "label": "Feature 1 Decoration"
          },
          {
            "id": "features_large_desc_1",
            "type": "textarea",
            "label": "Feature Description 1",
            "default": "Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad"
          },
          {
            "id": "features_large_img_2",
            "type": "image_picker",
            "label": "Feature 2 Image"
          },
          {
            "id": "features_large_decoration_2",
            "type": "image_picker",
            "label": "Feature 2 Decoration"
          },
          {
            "id": "features_large_desc_2",
            "type": "textarea",
            "label": "Feature Description 2",
            "default": "Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad"
          },
          {
            "id": "features_large_img_3",
            "type": "image_picker",
            "label": "Feature 2 Image"
          },
          {
            "id": "features_large_decoration_3",
            "type": "image_picker",
            "label": "Feature 3 Decoration"
          },
          {
            "id": "features_large_desc_3",
            "type": "textarea",
            "label": "Feature Description 3",
            "default": "Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad"
          }
        ]
      },
      {
        "type": "full-size-image",
        "name": "Full Size Image",
        "settings": [
          {
            "id": "full-size-image-anchor",
            "type": "text",
            "label": "Anchor (for hero nav links)"
          },
          {
            "id": "full-size-image-title",
            "type": "text",
            "label": "Image Title",
            "default": "What's in the box?"
          },
          {
            "id": "full-size-image-img",
            "type": "image_picker",
            "label": "Image"
          }
        ]
      },
      {
        "type": "product-info",
        "name": "Product Info",
        "settings": [
          {
            "id": "product-info-subtitle",
            "type": "text",
            "label": "Info Subtitle",
            "default": "Items"
          },
          {
            "id": "product-info-items",
            "type": "textarea",
            "label": "Item List (Comma Separated)",
            "default": "Item 1, Item 2, Item 3"
          }
        ]
      },
      {
        "type": "expandable-section",
        "name": "Expandable Section",
        "settings": [
          {
            "id": "expand-title",
            "type": "text",
            "label": "Title",
            "default": "Lorem Ipsum dolor set"
          }
        ]
      },
      {
        "type": "card-cta",
        "name": "Call to Action Card",
        "settings": [
          {
            "id": "cta-title",
            "type": "text",
            "label": "Title",
            "default": "Get your child's first DIY computer!"
          },
          {
            "id": "cta-product",
            "type": "text",
            "label": "Product Handle",
            "default": "piper-computer-kit"
          },
          {
            "id": "cta-variant",
            "type": "text",
            "label": "Product Variant (Array Index)",
            "default":"0"
          },
          {
            "id": "cta-desc",
            "type": "textarea",
            "label": "Product Description",
            "default": "Build a full computer and control the virtual game world by building and programming electronics!"
          }
        ]
      }
    ]
  }
{% endschema %}