<div class="video-section" data-section-id="{{ section.id }}">
    <div class="content">
        <h2>Lorem ipsum dolor sit amet consectur adipiscing elit, sed do eiusmod tempor incididunt ut labore et</h2>
        <div class="video-container" style="background: center no-repeat url({{'demo-video-section-bg.png' | asset_url }}); background-size: cover;">
            <div class="play-button">
                <img src="{{ 'demo-play-button.png' | asset_url }}" alt="">
            </div>
        </div>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo</p>
    </div>
    
</div>